<div id="data_experiencia">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white exp_contenido contenido_izq">
            <i class="bi bi-hdd-stack"></i>
            <h3>Back-End</h3>
            <p>
                Trabajo en aplicaciones monolíticas y microservicios usando manejadores de versiones.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET, ASP.NET Core, NodeJs, Java
            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>
            <ul>
                <li>ASP.NET Framework</li>
                <li>ASP.NET Core MVC</li>
                <li>Win Forms</li>
                <li>Web Forms</li>
                <li>Entity Framework</li>
                <li>Dapper</li>
                <li>LinQ</li>
            </ul>
        </div>
        <div class="col col-3 bg-white exp_contenido contenido_der">
            <i class="bi bi-file-earmark-code"></i>
            <h3>Front-End</h3>
            <p>
                Experiencia en tecnologías de front end que cumplen con los requerimientos del negocio
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                HTML, CSS, JavaScript, Bootstrap
            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>
            <ul>
                <li>jQuery</li>
                <li>Razor</li>
            </ul>
        </div>
    </div>
</div>