@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Soy Andrés Salinas</h1>
    <h3>Soy un desarrollador Full Stack especializado en .Net y Javascript.</h3>
    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto de Andrés"/>
</div>
